
.wrapper
= render 'devise/shared/side_bar'

%div.right
  %div.team
    = link_to 'Edit',edit_group_path(current_user),class: "btn"
  %div.message
  %div.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    = fa_icon 'picture-o', class: 'icon'
    = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'


  